*.so
docs/_build/
*.pyc
*.pyo
*.egg-info/
*.egg
build/
dist/
.DS_Store
.tox/
.cache/
.idea/
env/
venv/
venv-*/
.coverage
.coverage.*
htmlcov
.pytest_cache/
/.vscode/

tatsu_jinja.json
tatsu_jinja.py
parsed_jinja.py
test_tatsu.jinja