{% from 'forms.html' import input as input_field, textarea %}
{{ dict_var['single']["double"].dot  |test("first" ,2_000, named=3.14)|filter | lastFilter}}
{% with a='', b=a.attribute %}...{% endwith %}
{% for item in dict_var.values() %}
    <li>{% block loop_item %}{{ item }}{% endblock %}</li>
{% endfor %}
{# comment contents
across lines #}
{% raw %}
    {% block %}fake content{{ fake vars }}
{% endraw %}
{% if False %}
{{ '{{' }}
{% endif %}
{% for href, caption in [('index.html', 'Index'), ('about.html', 'About'),
                         ('downloads.html', 'Downloads')] %}
    <li><a href="{{ href }}">{{ caption }}</a></li>
{% endfor %}
{% set navigation = [('index.html', 'Index'), ('about.html', 'About')] %}
{% set key, value = call_something() %}
{% for value in values %}
    {% if loop.previtem is defined and value > loop.previtem %}
        The value just increased!
    {% endif %}
    {{ value }}
    {% if loop.nextitem is defined and loop.nextitem > value %}
        The value will increase even more!
    {% endif %}
{% endfor %}
{%- macro textarea(name, value='', rows=10, cols=40) -%}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols
        }}">{{ value|e }}</textarea>
{%- endmacro -%}
{# comment contents
across lines #}
<ul>
    # for item in seq:
    <li>{{ item }}</li>     ## this comment is ignored
    # endfor
</ul>
{% set reply | wordwrap %}
    You wrote:
    {{ message }}
{% endset %}
<ul class="sitemap">
{%- for item in sitemap recursive %}
    <li><a href="{{ item.href|e }}">{{ item.title }}</a>
    {%- if item.children -%}
        <ul class="submenu">{{ loop(item.children) }}</ul>
    {%- endif %}</li>
{%- endfor %}
</ul>
{% autoescape true %}
    Autoescaping is active within this block
{% endautoescape %}

{% autoescape false %}
    Autoescaping is inactive within this block
{% endautoescape %}
{% if foo.attribute is sameas false %}
    the foo attribute really is the `False` singleton
{% endif %}
<ul{{ {'class': 'my_list', 'missing': none,
        'id': 'list-%d'|format(variable)}|xmlattr }}>
...
</ul>
{{ "[{}]".format(page.title) if page.title }}