{% with key=val.test %}
{{ dict_var['single']["double"].dot  |test("first" ,2_000, named=3.14)|filter | lastFilter}}
{%block single key=val param=value %}
test {{var}}
{%endblock%}
{% for item in dict_var.values() %}
    <li>{% block loop_item %}{{ item }}{% endblock %}</li>
{% endfor %}
{# comment contents
across lines #}
{% raw %}
    {% block %}fake content{{ fake vars }}
{% endraw %}
{% if False %}
{{ '{{' }}
{% endif %}
{% for href caption in [('index.html', 'Index'), ('about.html', 'About'),
                         ('downloads.html', 'Downloads')] %}
    <li><a href="{{ href }}">{{ caption }}</a></li>
{% endfor %}
{% trans user=user.username %}Hello, {{ user }}!{% endtrans %}