<% extends 'layout/base.tmpl' %>
<% set title = 'Contribute' %>
<% set active_page = 'contribute' %>
<% block content %>
  <h1>Contribute</h1>
  <p>
    Because Jinja is an open source project we're always open towards
    suggestions and patches. If you want to participate in the Jinja
    development python knowlege is required of corse since the project is
    implemented completely in python.
  </p>
  <p>
    Development takes place on <a href="http://trac.pocoo.org/">trac.pocoo.org</a>,
    where the Subversion repository, tickets and development Wiki pages
    can be viewed.
  </p>
  <h2>Ways to contact the authors</h2>
  <p>
    Our primary communication instrument is the IRC channel <em>#pocoo</em>
    on the Freenode network. To join it, let your IRC client connect to
    <tt>irc.freenode.net</tt> and do <tt>/join #pocoo</tt>.
  </p>
  <p>
    If you found a bug, just open a ticket in the trac tracker. Be sure to
    add your e-mail address under "CC" to be notified when the issue is fixed.
  </p>
  <h2>The Authors</h2>
  <p>
    Jinja is maintained by <strong>Armin Ronacher</strong> (nickname
    <em>mitsuhiko</em>), e-mail address <em>armin.ronacher (guess what)
    active-4.com</em>.
  </p>
<% endblock %>
