<% extends 'layout/base.tmpl' %>
<% block title %>Documentation<% endblock %>
<% block content %>
  <h1>Documentation</h1>
  <p>
    You can browse the documentation either online or download it:
  </p>
<% endblock %>
