<% extends 'layout/base.tmpl' %>
<% set title = 'Page Not Found' %>
<% block content %>
  <h1>Page Not Found</h1>
  <p>
    Sorry, but the pge you requested was not found on this server.
  </p>
  <p>
    Click <a href="index.html">here</a> to return to the index.
  </ul>
<% endblock %>
