<% set navigation = [
  ('index', 'Index'),
  ('faq', 'FAQ'),
  ('documentation', 'Documentation'),
  ('download', 'Download')
] %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Frameset//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title or 'Untitled' %> | Jinja Template Engine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<%= root %>static/style.css" type="text/css" />
    <link rel="stylesheet" href="<%= root %>static/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="<%= root %>static/pygments.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1>Jinja</h1>
    </div>
    <ul id="navigation">
    <% for id, caption in navigation %>
      <li<% if id == active_page %> class="active"<% endif
        %>><a href="<%= root %><%= id|escape %>.html"><%= caption|escape
        %></a></li>
    <% endfor %>
    </ul>
    <% if trace %>
    <div id="trace">
    <% for href, caption in trace %>
      <% if loop.last %>
        <%= caption %>
      <% else %>
        <a href="<%= href|escape %>"><%= caption %></a> &raquo;
      <% endif %>
    <% endfor %>
    </div>
    <% endif %>
    <div id="content">
      <div id="contentwrapper">
        <% block content %><% endblock %>
      </div>
    </div>
    <div id="footer">
      &copy; Copyright 2007 by the Pocoo Team.
    </div>
  </body>
</html>
