<% extends 'layout/base.tmpl' %>
<% set title = page_title + " | Documentation" %>
<% set active_page = 'documentation' %>
<% block content %>
  <h1><%= page_title %></h1>
  <% if page_toc %>
    <h2 class="toc">Table Of Contents</h2>
    <ul><%= page_toc %></ul>
  <% endif %>
  <%= page_body %>
<% endblock %>
